/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root
{
  --ff-main: 'Roboto',sans-serif;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  min-width: 320px;
  scroll-behavior: smooth;
}
body
{
  background-color: #010D26;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Default styles */
/*Header styles*/
.logo-container
{
  background-color: #010D26;
  color: #CEF670;
  height: 50px;
}

header h1
{
  font-size: 1.5em;
  margin: 0;
  font-family: 'Mr Dafoe', cursive;
}

/*Navbar styles*/
.navbar-container
{
  background-color: #CEF670;
  color: #010D26;
  font-family: 'Roboto', sans-serif;
}
.navbar-brand
{
  font-family: 'Mr Dafoe', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.navbar-container ul li a
{
  font-size: 0.95em;
  font-weight: 700;
}

/*Hero styles*/
.hero-container
{
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;

}

.hero-content
{
  height: auto;
  width: 800px;
  color: #CEF670;
}

.hero-content h1
{
  font-size: 51px;
}

.hero-content .btn
{
  margin: 10px;
  border-radius: 0;
  border: none;
  background-color: #CEF670;
  color: #010D26 ;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.hero-content .btn a{
  text-decoration: none;
  color: #010D26;
}



.hero-content .btn:hover
{
 background-color: #F4FAFF;
}

/*Pricing styles*/

.pricing-container,.pricing-contents
{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.pricing-contents
{
  background-color: #010D26;
  min-width: 100%;
  margin-top: 100px;
}

.pricing-hero
{
  color: white;
}

.pricing-hero p
{
  max-width: 500px;
}

.pricing-hero h4
{
  font-size: 51px;
  font-weight: 400;
}



.card
{
  border-style: none;
  background-color: #FFBABA;;
}
.card-header
{
  background-color: #CEF670;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.price
{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.pricing-text
{
  font-family: 'Roboto', sans-serif;
  font-size: 71px;
  font-weight: 700;
  line-height: 1;
}


.pricing-cards .pricing-text p
{
  color: white;
}

.card
{
  height: 330px;
  max-height: 330px;
  max-width: 17rem;
}

.card .description
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #010D26;
}


/* CARD BODY COLORS */
.card-1{background-color: #F4C378;}
.card-2{background-color: #FFBABA;}
.card-3{background-color: #70F6A6;}
.card-4{background-color: #78A0F4;}
.card-5{background-color:#EF6F6C;}
.card-6{background-color: #6CE7EF;}

.card:hover
{

  transform: translate(0%,-10%);
  transition: 0.5s ease-in-out;

}

/* How To Styling */
.banner
{
  background-color: #CEF670;
  height: 80px;
  color: #010D26;
  font-family: var(--ff-main);
  margin-top: 10vh;

}
.banner h3
{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 21px;
}


.howto-container
{
  min-height: 100vh;

  font-family: var(--ff-main);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.howto-header
{
  margin-bottom: 50px;
  font-size: 38px;
  font-family: 'Mr Dafoe', cursive;
  color: white;
}

.num-box
{
  background-color: #CEF670;
  height: 155px;
  width: 208px;
  text-align: center;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mr Dafoe', cursive;
}

.num-box p
{
  margin: 0;
}

.pricing-text
{

  max-width: max-content;

}

.howto-description p
{
  font-size: 21px;
  color: white;
  font-weight: 400;
}
.howto-description h4
{
  font-size: 32px;
  font-weight: 700;
  color: #CEF670;
  margin-bottom: 24px;
}

.showcase-container
{
  background-color: #CEF670;
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.showcase-header h4
{
  font-family: 'Roboto', sans-serif;
  font-size: 51px;
  font-weight: 700;
}

.showcase-container img
{
  width: auto;
  height: 80vh;
  object-fit: contain;
}

.test
{
  height: auto;
  background-color: #010D26;
  padding-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.50);
}

/* Bio Styling */
.bio-content
{
  min-height: 80vh;
}

.bio-header
{
  margin: 0 auto;
  text-align: center;
}
.bio-header h1
{
  font-family: 'Mr Dafoe', cursive;
  font-size: 61px;
  color: #CEF670;
}
.bio-header p
{
  max-width: 50ch;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.bio-items
{
  min-height: 60vh;
  max-width: 100%;
}

.main-row
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-description
{
  text-align: center;
  margin: 0 auto;
}

.first-bio-column,.second-bio-column
{
  max-width: 50ch;
  margin-left: 50px;
  margin-right: 50px;
}

.bio-name
{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.img-shape
{
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 50%;
}

.social-media-links
{
  width: 70px;
}

.strong
{
  font-weight: 700;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.padding-0
{
  padding: 0 !important;
}


.fade-in
{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear
{
  opacity: 1;
}
.margins
{
  height: 10vh;
  margin-top: 50px;
}


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



/* 600px width and UP*/
@media only screen and (min-width: 35em)
{
  /* Style adjustments for viewports that meet the condition */

  .hero-content h1
  {
    font-size: 71px;
  }

  .item-tag h1
  {
    font-size: 71px;
    font-family: 'Mr Dafoe', cursive;
  }

}
/* ============================================================
   ============================================================ */




/* 1200px width and below*/
@media only screen and (max-width: 1200px)
{
  .pricing-hero, .pricing-text
  {
    text-align: center;
  }
  .pricing-hero
  {
    margin: 0 auto;
  }
  .pricing-hero p
  {
    min-width: 100%;
  }

  .banner
  {
    height: 50px;
  }

}
/* ============================================================
   ============================================================ */



/* For screens 1000px and below made just for the how to section */
@media only screen and (max-width: 1000px)
{
  .howto-container .col-12
  {
    max-width: max-content;
    text-align: center;
  }

  .howto-container .howto-description
  {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .howto-header
  {
    font-size: 31px;
  }
}
/* ============================================================
   ============================================================ */

@media only screen and (max-width: 420px)
{
    .pricing-text
    {
      font-size: 45px;
    }

  .bio-content,.bio-items
  {
    height: 80vh;
  }

  .first-bio-column,.second-bio-column
  {
    max-width: 50ch;
    margin-left: 0;
    margin-right: 0;
  }
  .showcase-container img
  {
    height: 30vh;
  }

  .test
  {
    height: 50vh;
  }
}
